<div li-block="Block" role="listitem" class="more_item w-dyn-item">
                    
                    <a href="{{ block.settings.url_link }}" class="more_image-link w-inline-block"> <div class="more_image-wrapper"><h3 class="heading-style-h3 z-index-1 text-color-white">{{ block.settings.text_heading }}</h3>{% if block.settings.image_image %}<img alt="{{ block.settings.image_image.alt }}" loading="lazy" src="{{ block.settings.image_image | img_url: 'master' }}" class="mehr_image">{% else %} {{ 'detailed-apparel-1' | placeholder_svg_tag: 'mehr_image' }} {% endif %}<div class="mehr_overlay"></div></div> </a>

                    
                </div>
     {% schema %} {"name":"Block","settings":[{"id":"url_link","type":"url","label":"Link"},{"id":"text_heading","type":"text","label":"Heading","default":"Bestselling"},{"id":"image_image","type":"image_picker","label":"Image"}],"presets":[{"name":"Block"}]} {% endschema %}